/* App.css */
.slides-container {
  transition: width 0.5s;
  overflow: hidden;
}

.slides-hidden {
  width: 0 !important;
}

.slides-visible {
  width: 33%;
}

.chat-container {
  transition: width 0.5s;
}

.chat-full {
  width: 100%;
}

.chat-partial {
  width: 67%;
}